#sliding-popup {
  background: black;
  background: rgba(0,0,0,0.8);
  color: white;
  font-family: Sans-Serif;
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding: 2em;
  line-height: 1em;
}

#sliding-popup a, #sliding-popup a:visited {
  color: #f0723a;
  text-decoration: none;
}

#sliding-popup a:hover, #sliding-popup a:focus, #sliding-popup a:active {
  color: #f0723a;
  text-decoration: underline;
}

#sliding-popup .popup-content #popup-text {
  font-size: 1em;
  float: none;
  text-align: center;
  max-width: unset;
}

#sliding-popup .popup-content #popup-text p {
  font-size: 1em;
  text-align: center;
  line-height: 2em;
  margin: 0;
  hyphens: none;
}

#sliding-popup .popup-content #popup-buttons {
  font-size: 1em;
  text-align: center;
  float: none;
  margin: 1em 0 0 0;
  max-width: unset;
}

#sliding-popup .popup-content #popup-buttons button {
  display: inline-block;
  background-color: #f0723a;
  color: white;
  font-size: 1.2em;
  height: 2em;
  width: 6em;
  border: none;
  transition-duration: 0s;
}

#sliding-popup .popup-content.agreed #popup-buttons button.find-more-button {
  display: none;
}

@media (min-width: 769px) {
  #sliding-popup .popup-content #popup-buttons button.find-more-button {
    display: none;
  }
}
